* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #222222;
  padding: 19px 0;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo {
  margin-right: 41px;
}

.header_item:not(:last-child) {
  margin-right: 33px;
}

.advertise {
  height: 764px;
  background-color: #F1E4E6;
}

.advertise_box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url("img/man.png");
  background-repeat: no-repeat;
  background-position: -212px bottom;
}

.text_box {
  max-width: 377px;
  padding-left: 20px;
  border-left: 12px solid #F16D7F;
}

.decore {
  color: #F16D7F;
}

.text_1 {
  text-align: left;
  font-family: Lato;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.category_wrap {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category_card {
  width: 100%;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category_card:not(:last-child) {
  width: 360px;
  margin: 0 0 30px 0;
}

.card_1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("img/card_1.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("img/card_1.png");
}

.card_2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("img/card_2.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("img/card_2.png");
}

.card_3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("img/card_3.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("img/card_3.png");
}

.card_4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("img/big_card.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("img/big_card.png");
}

.text_card_small {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.text_card_big {
  font-family: Lato;
  font-size: 24px;
  line-height: 28,8px;
  text-align: center;
  color: #F16D7F;
}

.text_medium {
  font-family: Lato;
  margin-top: 96px;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  color: #222222;
  text-align: center;
}

.text_small {
  font-family: Lato;
  margin-top: 6px;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #9F9F9F;
  text-align: center;
}

.button {
  margin-top: 48.5px;
  margin-bottom: 95.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button--decor {
  background: #ffffff;
  padding: 14px 38.5px;
  border: 1px solid #F26376;
}

.button--text {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: #F26376;
}

.button--decor:hover {
  background-color: #F16D7F;
  cursor: pointer;
}

.button--decor:hover .button--text {
  color: #fff;
}

.button--decor:hover .button--svg {
  fill: #fff;
}

.advantage {
  background-color: #222224;
}

.text_advantage_h {
  font-family: Lato;
  font-size: 19.96px;
  line-height: 24px;
  /* identical to box height */
  color: #FBFBFB;
  margin-bottom: 16px;
}

.text_advantage {
  font-family: Lato;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.advantage__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 103px;
  padding-bottom: 103px;
}

.advantage__box__block {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  margin-right: 30px;
}

.subscription {
  Height: 448px;
}

.subscription__box {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url("img/bg_subscr.jpg");
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("img/bg_subscr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 448px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.subscription__box__autor {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 230px;
  padding: 0;
  margin-right: 320px;
}

.subscription__box__autor__img {
  width: 96px;
  height: 96px;
}

.subscription__box__autor__text {
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 360px;
}

.subscription__box__autor__text-italic {
  font-style: italic;
}

.img_subscr {
  margin-bottom: 25px;
}

.subscription__box__send {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 230px;
  padding: 0;
  text-align: center;
}

.subscription__box__send__text--big {
  font-size: 24px;
  line-height: 40px;
}

.subscription__box__send__text--small {
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
}

form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email {
  padding: 7px 25px;
  border: none;
  background: #E1E1E1;
  border-radius: 50px 0 0 50px;
}

.submit {
  cursor: pointer;
  border: none;
  background: #F16D7F;
  padding: 0 20px;
  border-radius: 0 50px 50px 0;
}

.links {
  background-color: #222224;
}

.link__box {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link__box__p {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link__box__img {
  margin-right: 10px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  text-align: center;
  padding: 8px;
  color: black;
}

.link__box__img:hover {
  background-color: #F16D7F;
  color: white;
}

.link__box__img:hover .svg-hover {
  fill: white;
}

.catalog {
  background-color: #F8F3F4;
}

.catalog__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 60px 0;
}

.catalog__text-left {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.catalog__text-right {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.catalog__text-right:hover {
  color: #F16D7F;
}

.filters {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}

details {
  -webkit-box-shadow: #F26376;
          box-shadow: #F26376;
}

::-webkit-details-marker {
  display: none;
}

.filter__left {
  width: 360px;
  padding-left: 17px;
  position: absolute;
}

.filter__left[open] {
  padding-left: 10px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__left[open] > summary {
  color: plum;
  outline: none;
  border: none;
}

.filter__content {
  position: relative;
}

summary {
  display: block;
  outline: none;
}

.filter__inside {
  padding-left: 11px;
  border-left: 5px solid #F16D7F;
}

.filter-text {
  font-family: Lato;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.filter-text:hover {
  color: #EF5B70;
}

.list {
  list-style-type: none;
}

.list-text {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.list-text:hover {
  color: #EF5B70;
}

.filters__central {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 380px;
}

.filter__size {
  position: absolute;
  margin-left: 180px;
}

.filter__size__content {
  position: relative;
}

.filter__size[open] {
  padding-left: 10px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__size[open] > summary {
  color: plum;
  outline: none;
  border: none;
}

.main-card {
  background: #F7F7F7;
  border: 1px solid #EAEAEA;
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-card__img {
  height: 94%;
}

.detail-info {
  margin: -40px auto 0;
  padding-top: 64px;
  height: 601px;
  background-color: #fff;
  margin-bottom: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.detail-info__text_catalog-info {
  font-family: Lato;
  font-style: light;
  font-size: 14px;
  height: 17px;
  color: #F16D7F;
}

.detail-info__text_line_red {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  margin-bottom: 12px;
  margin-top: 12px;
}

.detail-info__text_head {
  font-family: Lato;
  font-style: light;
  font-size: 18px;
  height: 22px;
  color: #4D4D4D;
  margin-bottom: 49px;
}

.detail-info__text_p {
  font-family: Lato;
  font-style: light;
  font-size: 14px;
  height: 17px;
  color: #5E5E5E;
  width: 555px;
  margin-bottom: 27px;
}

.detail-info__text_price {
  font-family: Lato;
  font-style: light;
  font-size: 24px;
  height: 29px;
  color: #EF5B70;
  margin-bottom: 32px;
}

.detail-info__text_line_grey {
  width: 642px;
  height: 1px;
  background-color: #EAEAEA;
  margin-bottom: 64px 0 64px 0;
}

.filter-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #000;
  margin-bottom: 48px;
}

.cart-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  margin-top: 96px;
  padding: 0;
}

.cart-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 306px;
}

.cart-box__item:nth-child(odd) {
  margin: 0 128px 40px 0;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.21);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.21);
}

.cart-box__item__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-box__item__input--style-1 {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  padding: 12px 0 15px 16px;
}

.cart-box__item__input--style-2 {
  margin-top: 24px;
  width: 100px;
  height: 34px;
}

.cart-box__item__sum {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/*# sourceMappingURL=style.css.map */